{% extends 'security_layout.html.twig' %}

{% block title %}{{parent()}} Connexion{% endblock %}

{% block body %}

    <div class="login-wrapper">
        <form method="post" class="form">
            {{ form_start(form,{'attr':{'class':'form'}}) }}
            <img src="{{ absolute_url(asset('backend/img/logo-sm.png')) }}" alt="logo ASCCI">
            {% for label, messages in app.flashes(['success', 'danger']) %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2>Connexion</h2>
            <div class="input-group">
                {{ form_widget(form.email) }}
                <label for="inputUsername">Nom utilsateur</label>
            </div>
            <div class="input-group">
                {{ form_widget(form.password) }}
                <label for="inputPassword">Mot de passe</label>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			See https://symfony.com/doc/current/security/remember_me.html

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me"> Remember me
				</label>
			</div>
            #}

            <input type="submit" class="submit-btn" value="Modifier">
        {{ form_end(form)}}
    </div>
{% endblock %}
