{{ form_start(form) }}
<div class="row form-group">
    <div class="col-12 mt-3">{{ form_row(form.region) }}</div>
    <div class="col-12 mt-3">{{ form_row(form.valeur) }}</div>
</div>
    {{ form_widget(form) }}
    <div class="text-end mt-5 mb-5">
        <a href="{{ path('sygesca_objectfif_index') }}" class="btn btn-outline-secondary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}
