{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Telemetrie{% endblock %}
{% block entete %}Télémetrie{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <div class="row g-3 my-2 ">
            <marquee behavior="" direction="">
                {% for region in regions %}
                    {{ region.nom }}: <span class="my-3" style="font-weight:bold; padding-right: 15px;"><strong>{{ region.total|number_format(0,'','.') }}</strong> </span>
                    {{ loop.last ? '' : '-' }}
                {% endfor %}
            </marquee>
        </div>
        <div class="row my-5">
            <div class="co">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body statistiques">
                        <div class="card-title">Objectifs année {{ annee}} <i class="fas fa-print" onclick="imprimer('impression')"></i></div>
                        <h6 class="card-subtitle"></h6>
                        <div id="impression">
                            <table class="table mt-5 table-responsive">
                                <thead>
                                <tr>
                                    <th>REGION</th>
                                    <th>OBJECTIFS</th>
                                    <th>INSCRITS</th>
                                    <th>POURCENTAGE (%)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for objectif in objectifs %}
                                    <tr>
                                        <td>{{ objectif.region }}</td>
                                        <td style="text-align:center;">{{ objectif.valeur }}</td>
                                        <td style="text-align:center;">{{ objectif.inscrit }}</td>
                                        <td style="text-align:center;">{{ objectif.pourcentage }}</td>
                                    </tr>
                                {% endfor %}
                                <tr><td colspan="10"></td></tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>TOTAUX</th>
                                    <th style="text-align:center;">{{ total_objectif }}</th>
                                    <th style="text-align:center;">{{ total_inscrit }}</th>
                                    <th style="text-align:center;">
                                        {{ total_pourcent}}
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <canvas id="Donut"></canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function imprimer(divName) {
            console.log('impression')
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
    <script>
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            data: {
                labels: [{% for region in regions %}'{{ region.nom }}',{% endfor %}],
                datasets: [{
                    type: 'line',
                    label: '# objectifs',
                    data: [{% for objectif in objectifs %}'{{ objectif.valeur }}',{% endfor %}],
                    backgroundColor: 'rgba(217, 68, 3, 1)',
                    borderColor: 'rgba(217,68,3, 1)',
                    borderWidth: 1
                },{
                    type: 'bar',
                    label: '# Les membres',
                    data: [{% for region in regions %}'{{ region.total }}',{% endfor %}],
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54,162,235, 1)',
                    borderWidth: 1
                } ]
            },
            options: {
                animations: {
                    tension: {
                        duration: 1000,
                        easing: 'linear',
                        from: 1,
                        to: 0,
                        loop: true
                    }
                },
                scales: {
                    y: { // defining min and max so hiding the dataset does not change scale range
                        beginAtZero: true
                    }
                }
            }
        });
        const Donut = new Chart(ctx,{
            data: {
                labels: [
                    'Red',
                    'Blue',
                    'Yellow'
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [300, 50, 100],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            }
        })
    </script>
{% endblock %}
